<%= link_to "New", new_todo_path %>
<ul>
  <% @todos.each do |todo| %>
    <li>
      <strong><%= todo.title %>:</strong> 
      <%= todo.description %> 
      <%= link_to "Show", todo %>
    </li>
  <% end %>
</ul>
